/* CSS declarations go here */
h2 {
	/*color:green;
	background-color: black;*/
}

a:link {
    text-decoration: none;
    color:black;

}

a:visited {
    color: black;
}

.hidden {
	opacity:0.0;

	position:fixed;
	left: 800px;
	top: 400px;
}